@import url('styles/global.css');
@import url('styles/header.css');
@import url('styles/hero.css');
@import url('styles/particulas.css');
@import url('styles/about.css');
@import url('styles/results.css');
@import url('styles/services.css');
@import url('styles/plans.css');
@import url('styles/faq.css');