.faq-section {
  background: #0b0b0f;
  padding: 100px 20px;
}

.faq-container {
  max-width: 800px;
  margin: auto;
}

.faq-title {
  color: #fff;
  font-size: 38px;
  margin-bottom: 40px;
  font-weight: 600;
}

.faq-item {
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 22px 0;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  color: #3b82f6;
}

.faq-arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  transform: rotate(45deg);
  transition: 0.3s;
}

.faq-item.active .faq-arrow {
  transform: rotate(225deg);
}

.faq-answer {
  height: 0;
  overflow: hidden;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  line-height: 1.6;

  transition: height 0.35s ease;
}


.faq-item.active .faq-answer {
  max-height: 200px;
  padding-bottom: 20px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .faq-title {
    font-size: 28px;
  }

  .faq-question {
    font-size: 16px;
  }

}
