:root {
    --primary: #3b82f6;
    --black: #000000;
    --dark: #0b0b0b;
    --border: #1f1f1f;
    --text: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    background: rgb(224, 220, 220);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.reveal {

    opacity: 0;
    translate: 0 40px;

    transition:
        opacity 0.8s cubic-bezier(.22, .61, .36, 1),
        translate 0.8s cubic-bezier(.22, .61, .36, 1);

    will-change: opacity, translate;

}

.reveal.show {

    opacity: 1;
    translate: 0 0;

}


/* variações */

.reveal-left {
    translate: -60px 0;
}

.reveal-right {
    translate: 60px 0;
}

.reveal-scale {
    scale: 0.95;
}

.reveal-scale.show {
    scale: 1;
}

/*ANIMAÇÃO PROJETOS*/
.reveal {

    opacity: 0;
    transform: translateY(40px);

    transition: 1s cubic-bezier(.16, 1, .3, 1);

}

.reveal.active {

    opacity: 1;
    transform: none;

}