
:root{
    --primary: #ff004c;
    --black: #000;
    --dark: #0b0b0b;
    --border: #1f1f1f;
    --text: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    margin:0;
    background:rgb(224, 220, 220);
    font-family:'Poppins', sans-serif;
}