/* HEADER */

.header {

    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    z-index: 1000;
    backdrop-filter: blur(2px   );
}

/* LOGO */

.logo img {

    width: 300px;
}


/* MENU DESKTOP */

.nav-desktop {

    display: flex;
    gap: 32px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    padding: 10px 20px;
    border-radius: 30px;

}

.nav-desktop a {

    color: #fff;
    text-decoration: none;

    font-size: 15px;

    opacity: 0.8;

    transition: 0.3s;

}

.nav-desktop a:hover {

    opacity: 1;
    color: #ff003c;

}


/* CTA */

.cta-desktop {

    background: #ff003c;
    color: #fff;

    padding: 12px 20px;
    border-radius: 30px;

    text-decoration: none;

    font-size: 14px;

}


/* HAMBURGER */

.menu-btn {

    width: 26px;
    height: 18px;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    z-index: 1002;

}

.menu-btn span {

    height: 2px;
    width: 100%;

    background: #fff;

    transition: 0.4s;

}


/* ANIMAÇÃO X */

.menu-btn.active span:nth-child(1) {

    transform: rotate(45deg) translateY(8px);

}

.menu-btn.active span:nth-child(2) {

    opacity: 0;

}

.menu-btn.active span:nth-child(3) {

    transform: rotate(-45deg) translateY(-8px);

}



/* MENU MOBILE */

.mobile-menu {

    position: fixed;

    top: 0;
    left: 0;

    width: 400px;
    height: 100vh;

    background: #050505;

    transform: translateX(-100%);

    transition: transform 0.4s ease;

    z-index: 1001;

    padding: 120px 40px;

}

.mobile-menu.active {

    transform: translateX(0);

}


/* LINKS MOBILE */

.mobile-nav {

    display: flex;
    flex-direction: column;
    gap: 26px;

}

.mobile-nav a {

    color: #fff;
    text-decoration: none;

    font-size: 20px;

    opacity: 0.8;

    transition: 0.3s;

}

.mobile-nav a:hover {

    color: #ff003c;
    opacity: 1;

}


/* CTA MOBILE */

.mobile-cta {

    margin-top: 20px;

    background: transparent;
    border: 1px solid red;

    padding: 14px;
    border-radius: 30px;

    text-align: center;

}



/* RESPONSIVO */

@media(max-width: 980px) {

    .nav-desktop {

        display: none;

    }

    .cta-desktop {

        display: none;

    }

    .menu-btn {

        display: flex;

    }

  
}