/* HERO */

.projects-hero{

padding:180px 20px 100px;
text-align:center;

}

.hero-label{

color:#3b82f6;
letter-spacing:2px;
font-size:14px;

}

.hero-title{

font-size:56px;
color:white;
margin-top:20px;

}

.hero-title span{

color:#3b82f6;

}

.hero-subtitle{

color:#888;
margin-top:20px;

}


/* GALERIA */

.projects-gallery{

padding:100px 20px;

}

.gallery-container{

max-width:1200px;
margin:auto;

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}


/* CARD */

.project-card{

position:relative;
border-radius:20px;
overflow:hidden;
cursor:pointer;

}

.project-card img{

width:100%;
height:400px;
object-fit:cover;

transition:0.6s;

}

.project-card:hover img{

transform:scale(1.05);

}


/* OVERLAY */

.project-overlay{

position:absolute;
bottom:0;

padding:30px;

background:linear-gradient(
transparent,
rgba(0,0,0,0.9)
);

width:100%;

}

.project-overlay h3{

color:white;
font-size:22px;

}

.project-overlay p{

color:#aaa;
margin-top:5px;

}

.project-tag{

display:inline-block;

margin-top:10px;

color:#3b82f6;
font-size:14px;

}


/* CTA */

.cta-projects{

padding:140px 20px;
text-align:center;

}

.cta-projects h2{

font-size:42px;
color:white;

margin-bottom:30px;

}
