/* SECTION */

.projects-section {

    padding-top: 160px;
    padding-bottom: 120px;

}


/* CONTAINER */

.container {

    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

}


/* TITLE */

.projects-title {

    font-size: 48px;
    font-weight: 500;

    margin-bottom: 60px;

    color: white;

}


/* GRID */

.projects-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 40px;

}


/* CARD */

.project-card {

    position: relative;
    display: block;

    border-radius: 16px;
    overflow: hidden;

}


/* IMAGE */

.project-image img {

    width: 100%;
    display: block;

    transition: 0.6s;

}


.project-card:hover img {

    transform: scale(1.05);

}


/* OVERLAY */

.project-overlay {

    position: absolute;
    inset: 0;

    background: rgba(59,130,246,0.85);

    backdrop-filter: blur(6px);

    opacity: 0;

    transition: 0.4s;

    display: flex;
    align-items: center;
    justify-content: center;

}


.project-card:hover .project-overlay {

    opacity: 1;

}


/* CONTENT */

.project-content {

    width: 80%;

    transform: translateY(30px);
    transition: 0.4s;

}


.project-card:hover .project-content {

    transform: translateY(0);

}


/* TAGS */

.project-tags {

    display: flex;
    gap: 10px;

    margin-bottom: 20px;

}


.project-tags span {

    background: white;
    color: black;

    padding: 6px 14px;
    border-radius: 20px;

    font-size: 13px;

}


/* BOTTOM */

.project-bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.project-bottom h3 {

    font-size: 28px;
    color: white;

}


/* ARROW */

.project-arrow {

    font-size: 28px;
    color: white;

    opacity: 0;
    transform: translate(-10px, 10px);

    transition: 0.4s;

}


.project-card:hover .project-arrow {

    opacity: 1;
    transform: translate(0,0);

}



/* RESPONSIVO */

@media(max-width: 768px){

    .projects-title {

        font-size: 32px;

    }

    .projects-grid {

        grid-template-columns: 1fr;

    }

}
